.nav-link {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    align-items: center;
}

.active {
    color: lightskyblue;
    background-color: blanchedalmond;
    border-radius: 100px;
    width: 100px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

